.header {
  display: flex;
  background-color: transparent;
  background: none;
  top: 0;
  width: 97vw;
  margin: 15px;
  margin-top: 15px;
  z-index: 1;
  position: fixed;
}

.header--logo {
  height: 24px;
  width: 108px;
  margin-top: 7px;
}
.header--center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header--center > p {
  font-size: 14px;
  text-transform: uppercase;
  margin: 11px;
}


.header--right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.header--right > p {
  font-size: 14px;
  margin: 10px;
}
